@model WebAppForWebshop.Models.SpecificOrderHistory
<h1>TEST</h1>

@if(Model != null)
{

    if(Model.listSpecificOrderHistory != null)
    {<table>
         
             @foreach (var item in Model.listSpecificOrderHistory)
             {<tr>
                <th>Order</th>
                <th>Date</th>
                <th>Customer</th>
                <th>CustomerID</th>
                <th>Delivery Address</th>
                <th>Total Price of Order</th>
                <th></th>
            </tr>
              <tr>
                  <td>@item.OrderId</td>
                  <td>@item.OrderDate</td>
                  <td>@item.CustomerUsername</td>
                  <td>@item.CustomerId</td>
                  <td>@item.DeliveryAddress</td>
                  <td>@item.TotalPrice</td>
                  <td>@Html.ActionLink("DELETE ORDER", "RemoveWholeOrder", "Order", new { orderid = item.OrderId }, new { @class = "btn-main" })</td>
              </tr>
                 break;
             }

         
    @foreach (var item in Model.listSpecificOrderHistory)
    {

     <tr> <td><img src="@item.ProductImage" /></td> <td>@item.ProductId</td>   <td>@item.ProductName </td> <td>@item.PricePerItem Kr</td>    <td>@Html.ActionLink("DELETE", "RemoveProductFromOrder", "Order", new { orefid = item.orefId, orderid = item.OrderId }, new { @class = "btn-main" })   </td>     </tr>

    }
</table>
    }
}