@model IEnumerable<WebAppForWebshop.Models.Products>

@{ ViewData["Title"] = "All Products"; }

<html lang="en">
<head>
    <title>Group 2 Project</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>Group2</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="~/themes/css/style.css">
    <link rel="stylesheet" href="~/themes/css/bootstrap.min.css">

    <link href="~/css/Custom.css" rel="stylesheet" />

</head>
<body>
    <div class="container">
        
            <div class="col-sm-2">
                
            </div>
            <div class="col-sm-8">
                
                <div class="container">
                    
                        <div class="col-sm-4">
                          @if (User.IsInRole("Admin"))
                          {  <a asp-action="Create" class="btn btn-sm btn-primary">Insert New Products</a>}
                        </div>

                        <div class="col-sm-8">
                           
                            <form asp-action="Filter">

                                <input type="submit" class="btn btn-sm btn-primary" name="Category" value="Reset" />
                                <input type="submit" class="btn btn-sm btn-primary" name="Category" value="Fruit" />
                                <input type="submit" class="btn btn-sm btn-primary" name="Category" value="devices" />
                                <input type="submit" class="btn btn-sm btn-primary" name="Category" value="Pets" />

                            </form>



                        </div>

                       

             
                </div>


                <div class="panel panel-danger">



                    <table class="table" id="customers">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Price)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Category)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ProductImage)
                                </th>
                                <th>

                                </th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Price)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Category)
                                    </td>
                                    <td>
                                        <img src="@Html.DisplayFor(modelItem => item.ProductImage)" />
                                    </td>
                                    <td>
                                        @if (User.IsInRole("Admin"))
                                        {<a asp-action="Edit" asp-route-id="@item.Id">Edit</a>} |
                                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                        @if (User.IsInRole("Admin"))
                                        { <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>  }  |
                                        <a asp-controller="ShoppingCart" asp-action="AddToCart" asp-route-id="@item.Id">Add To Cart</a>


                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>


                </div>
            </div>
                    <div class="col-sm-2">
                        <div>

                        </div>
                    </div>
                </div>
</body>
</html>